@import './shared/styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--md-outlined-text-field-input-text-font: 'Montserrat', sans-serif;
	--md-outlined-text-field-label-text-font: 'Montserrat', sans-serif;
	--md-outlined-text-field-label-text-color: #1c1b1f;
	--md-outlined-text-field-input-text-color: #1c1b1f;
	--md-outlined-text-field-focus-outline-color: none;
	/* --md-outlined-text-field-focus-outline-color: #fd8847; */
	/* --md-outlined-text-field-focus-outline-color: #fd8847aa; */
	--md-outlined-text-field-focus-outline-width: 0px;
	--md-sys-color-primary: #1c1b1f;
}

* {
	margin: 0;
	padding: 0;
}
